* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-200: #8c8c99;
    --gray-300: #7c7c8a;
    --gray-400: #323238;
    --sucess-color: #1d8841;
    --purple-light: #8257e5;
    --purple-mid: #633bbc;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    display: grid;
    place-content: center;
}

form {
    padding: 3.2rem;
    border: 1px solid var(--gray-100);
    border-radius: .6rem;
}

.step-progress {
    display: flex;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: 3.2rem;
    counter-reset: step;
}

.step-progress strong {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.step-progress strong::active {
    color: var(--gray-400);
}

/*strong*/
.step-progress strong::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(step);
    counter-increment: step;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4rem;
    background-color: var(--gray-100);
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    color: var(--gray-200);
}

.step-progress .active::before {
    background-color: var(--purple-mid);
    color: var(--white);
}

